body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
}

header h1 {
  margin-bottom: 5px;
}

header h4 {
  margin-top: 0px;
  color: rgb(54, 58, 58);
}

main {
  padding: 20px;
}

.tour-types {
  display: flex;
  justify-content: space-between;
}

.tour {
  width: 30%;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

figure img {
  width: 100%;
  border-radius: 10px;
}

.carousel-item img{
  height: 1000px;
  object-fit: cover;
  width: 100%;
}

.royal-co {
  color: honeydew;
}

#tour-types-description {
  padding-left: 10px;
  color: rgba(71, 71, 71, 0.277);
}

#profile {
  margin-top: 50px;
}

.card {
  border-radius: 10px;
}

.card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body p {
  font-size: 18px;
  margin: 10px 0;
}

.card-footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn-danger {
  font-size: 16px;
  padding: 10px 20px;
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}


