body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
}

header {
  background-color: #000000;
  color: white;
  padding: 10px;
  text-align: center;
  height: 130px;
  position: relative;
}

nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

nav a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

.destination {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

figure img {
  width: 100%;
  border-radius: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
