body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.hot-tours-section {
  margin-left: 20px;
}

.container {
  width: 80%;
  margin: auto;
}

.tour-item {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.tour-images {
  display: flex;
  gap: 10px;
}

.tour-images img {
  width: 49%;
  height: auto;
  border-radius: 8px;
}

.tour-title {
  font-size: 24px;
  margin: 10px 0;
}

.tour-description {
  margin: 10px 0;
}

.tour-price {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

/* styleshot.css */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tour-item {
  animation: fadeIn 1s ease-in;
}

.filtered-tour {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

/* FAQ Section Styling */
#faq-section {
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-item {
  margin-bottom: 20px;
}

.faq-question {
  color: #333;
  cursor: pointer;
  font-weight: bold;
}

.faq-answer {
  display: none; /* Initially hidden */
  padding: 10px;
  background-color: #f9f9f9;
  border-left: 4px solid #333;
  margin: 5px 0;
}
