body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

.sub-heading {
    color: #888;
    font-style: italic;
    margin-top: 10px;
}

main {
    padding: 20px;
}

figure {
    text-align: center;
    margin: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
}

figcaption {
    font-style: italic;
    color: #333;
}

/* Adjusting form to fit Bootstrap styling */
form {
    display: flex;
    flex-direction: column;
    max-width: 600px; /* Increased max-width for larger screens */
    margin: 0 auto;
}

label {
    margin-top: 10px;
}

input,
select,
textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ced4da; /* Bootstrap border color */
    border-radius: 0.25rem; /* Bootstrap border radius */
    box-shadow: none; /* Remove default box-shadow */
}

button {
    margin-top: 20px;
    padding: 15px;
    font-size: 1.2em;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #e65c00;
    transform: scale(1.05); /* Slightly increased scale for hover effect */
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}

/* Additional styles for testimonials */
.testimonial {
    font-style: italic;
    background-color: #f0f0f0;
    padding: 15px;
    border-left: 5px solid #000;
    margin: 20px 0;
}

.client-testimonials {
    background-color: #f8f8f8;
    padding: 30px;
    text-align: center;
    width: 100%; /* Full width of the screen */
    box-sizing: border-box; /* Include padding in width calculation */
    margin-top: 20px;
}

.testimonial-heading {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.testimonial-container {
    display: flex;
    justify-content: center; /* Center testimonials in container */
    margin-top: 20px;
    flex-wrap: wrap;
}

.testimonial-item {
    max-width: 300px;
    width: 100%; /* Ensure full width in flex container */
    margin: 15px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem; /* Rounded corners */
    transition: transform 0.3s ease; /* Smooth transform effect */
}

.testimonial-item:hover {
    transform: scale(1.05); /* Slightly scale up on hover */
}

.client-photo {
    width: 100px; /* Задайте фиксированную ширину */
    height: 100px; /* Задайте фиксированную высоту */
    border-radius: 50%; /* Делает изображение круглым */
    object-fit: cover; /* Обрезает изображение, чтобы оно соответствовало размерам контейнера */
    margin-bottom: 15px;
}

.client-quote {
    font-style: italic;
}

.client-name {
    margin: 0;
}

.footer-link {
    color: #fff;
    text-decoration: underline;
}
